extends layout.pug

append head 
    link(rel='stylesheet' href='/stylesheets/login.css')
    
block content
    h2 Sign in to your account
    div.errorDiv
        if errors
            div(class='error-message')
                p The following error(s) occurred:
                ul.errors
                    each error in errors
                        li.liErrors= error
    div.loginForm
        form(action="/users/login", method="post")
            div.loginFields
                input(type="hidden" value=csrfToken name="_csrf")
                label(for="username") Username
                input(type="text" name="username" value=username)
                label(for="password") Password
                input(type="password" name="password" value=password)
                button(type="submit" class="loginButton") Log in
                button(type="submit" class="demoButton")
                    a(href='/users/login/demo') Demo User
                p: a(href='/users/signup') Don't have an account? Create one now 
