
.homepageRecipes {
    width: 80%;
    height: auto;
    margin: 0 auto;    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
 
}
/* //NOTE media screen should not be moved */
@media only screen and (max-width: 1500px) {
    .homepageRecipes {
        margin: 0 auto;
        display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }


h2 {
   padding: 10px 0 0 20px;
   font-size: 30px;
   font-family: serif;
   margin: 50px auto 0 200px;
}

.tagline {
    padding: 10px 0 0 20px;
    margin: 0 auto 0 220px;
    font-size: 15px;

}

.homepageEachRecipe {
    height:400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-shrink: inherit;

}

.homepageEachRecipe a{
    position: relative;
    transition: all .1s ease-in; 
    display: flex;
    text-decoration: none;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #444;
    top: 0;
    padding-bottom: 20px;
}

.homepageEachRecipe a:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2); 
}

.homepageEachRecipe a h3 {
    padding: 10px 15px 25px 15px;
    text-align: center;
}

.homepageEachRecipe a img {
    object-fit: cover;
    height: 300px;
    padding: 20px 15px 0px 15px;
    text-align: center;

}
