html {
	background: #f5f7f8;
	font-family: 'Roboto', sans-serif;
	/* padding: 0 auto;  */
}

/* //NOTE important not */

.logo {
	font-family: serif;
	color: white;
	font-size: 50px;
	align-self: center;
}

nav a {
	color: white;
	text-decoration: none !important;
	padding: 10px;
}

nav {
	padding: 10px;
	background-color: black;
	display: flex;
	justify-content: space-between;
}

.navButton {
	padding: 10px;
}

.navLinks {
	display: flex;
	align-items: center;
}

nav button {
	text-decoration: none;
	border: none;
	padding: 10px;
	background: none;
	color: white;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

nav button:hover {
	cursor: pointer;
}
footer {
	background-color: black;

	width: 100%;
}

.footer {
	margin: 100px 0 0 0;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer a {
	color: white;
	height: 200px;
	padding: 85px 20px 30px 20px;
}
