.parentDivOne {
    display: flex;
    margin: 20px;
    flex-direction: row;

}

.imageDiv {
    margin: 15px;
    width: 50%;
    overflow: hidden;
}

.textDiv {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#recipe-title {
    margin: 20px;
    text-align: center;
}

#board-selector {
    font-size: 15px;
    height: 30px;
    margin-right: 5px;
}

#add-to-board-button {
    padding: 10px;
    margin: auto;
    background-color: black;
    color: white;
    font-size: 12px;
}

hr {
    height: 5px;
    width: 50%;
    background-color: black;
    margin:0%
}

#ingredients-header {
    font-size: 36px;
}

.textDiv h1, .textDiv h2, .textDiv div, .textDiv a, .textDiv form {
    margin: auto;
}

.textDiv form {
    padding: 10px;
}

#category {
    padding: 10px;
    margin: auto;
    background-color: black;
    color: white;
}

.parentDivTwo {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-flow: row wrap;
}

#ingredients-container {
    width: calc(40% - 20px);
    margin-left: 20px;
}

#instructions-container {
    width: 60%;
}

img {
    width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

.reviewsContainer {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#full-page {
    width: 100%;
}

#ratings-and-reviews {
    margin: auto;
    font-size: 36px;
    text-align: center;
}

.checked {
  color: orange;
}

#userId {
    display: none;
}

#submitReviewForm {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 400px;
    margin: auto;
}

#submitReviewButton {
    text-align: center;
    padding: 10px;
    margin: auto;
    background-color: black;
    color: white;
    font-size: 14px;
}

#review-input {
    outline: none;
    resize: none;
    margin: auto;
    width: 300px;
    height: 100px;
}

/* #review-input:focus, .single-review:focus {
    border: 2px solid red;
} */

[contenteditable] {
    outline: 2px solid purple;
}

button:hover {
    cursor: pointer;
}

#review-separator {
    width: auto;
}

#recipe-author {
    font-size: 20px;
}

#no-ratings-yet, #log-in-to-create-board, #notloggedtext {
    font-size: 16px;
}

#notloggedtext {
    margin: auto;
}

.username {
    font-weight: bold;
}

.single-review-box {
    border: .5px solid black;
    padding: 5px;
}

.edit-and-delete-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: auto;
}

.edit-and-delete-buttons form {
    height: 100%;
    margin: auto;
}

.editform button , .deleteform button {
    font-size: 16px;
    margin: auto;
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    width: 100px;
}

.editform button:hover , .deleteform button:hover {
    cursor: pointer;
}
