body {
    background-color: white;
    font-family: sans-serif;
    color: #181818;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: solid #222222 2px;
    flex-direction: row;
}